html, body {
    height: 100%;
  width: 80%;
}

html {
    display: table;
    margin: auto;
}

body.home {
    display: table-cell;
    vertical-align: middle;
    background-color: #d1e5df
}
body.page {
    display: inline;
    vertical-align: middle;
}
 body.lm {
     background-color: #d5e1e0
    }

 body.sr {
     background-color: #965a5a
    }
  ul {
    list-style-type: none;
  }
   

   li.box1 {
          border: 5px solid white;   
          float: left;
          width: 465px;
          height: 155px;
          margin-block: 20px;
          padding: 20px;
          text-align: justify;
          
         }

   li.box2{
          border: 5px solid white;
          padding: 10px;
          width: 1000px;
          height:120px;
          margin-top: 260px;
          }

    li.sidelm{
          border: 5px solid #917330;
          float: left;
          padding: 10px;
          width: 300px;
          height:200px;
          margin-top: 34px
    
    }

    li.sidesr{
          border: 5px solid #c33737;
          float: left;
          padding: 10px;
          width: 300px;
          height:200px;
          margin-top: 34px;
  

    }
    img.m{
      position: absolute;
      left: 90px;
      top: 45px;  
    }

    img.l{
      position:absolute;
      right: 5px;
      bottom: 0px;
    }

    img.n{
      position: absolute;
      right: 40px;
      top: 30px;
    }

    img.o{
      position: absolute;
      left: 110px;
      bottom: 200px;
    }

    img.p{
      position: absolute;
      right: 40px;
      top: 50px;
    }

    img.q{
      position: absolute;
      left: 80px;
      top: 100px;
    }

    li.sidep{
          
          float:left;
          clear: left;
    }

    li.infolm{
          border: 5px solid #917330;
          float: right;
          clear: right;
          padding: 10px;
          width: 670px;
          height:390px;

    }

      li.infosr{
          border: 5px solid #c33737;
          float: right;
          clear: right;
          padding: 10px;
          width: 670px;
          height:390px;
         
          
    }
    .selectionw{

      background: white;
      opacity: 70%;
    }

    .selectiong{

      background: #91ba78;
      opacity: 80%;
    }
     .selectionb{

      background: #ccb27b;
      opacity: 80%;
    }

     .selectionr{

      background: #c33737;
      opacity: 80%;
    }
    
    .bg1 {
      background-image: url("pictures/forest5.png");       
    }

    .bg2 {

      background-image: url("pictures/mountain1.jpg")
      
    }

    .bgslm {

      background-image: url("pictures/fr1.jpg")
    }

    .bgilm {

      background-image: url("pictures/fr2.jpg");
    }

    .bgssr {

      background-image: url("pictures/re1.jpg");
    }

    .bgisr {

      background-image: url("pictures/re2.jpg");
    }

    .headerhome {
      position: relative;
      top: 0;
      background-image: url("pictures/header.jpg");
      

    
    }
    .headerlm {
      position: relative;
      top: 0;
      background-image: url("pictures/headerlm.jpg");
      
    }

    .headersr {
      position: relative;
      top: 0;
      background-image: url("pictures/headersomrot.jpg"); 
    }

    li.back {
      position: fixed;
      right: 10px;
      bottom: 10px;
    }

    ul.nav {
  padding-left: 0px;

  text-align: center;
}
  ul.nav > li {
  display: inline-block;
  padding: 10px 20px;
}
  ul.nav > li > a {
  color: white;
  text-decoration: none;
}
  
